# For Python 3.6+
scikit-learn
torch
torchvision
torchsummary
pandas
numpy
matplotlib
jupyter
seaborn
pillow
keras
tensorflow

# This is only the Python bindings for graphviz
# Need to use system installers for graphviz itself
graphviz
